.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  gap: 15px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
}

.imageContainer img {
  max-width: 180px;
  max-height: 180px;
}

.subtotalContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.subtotalContainer h3 {
  font-weight: normal;
}

.proceedContainer {
  display: flex;
  height: 100%;
  align-items: flex-start;
  background-color: rgb(224, 224, 224);
}

.descriptionContainer {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
