.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  gap: 15px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 135px;
}
.image {
  max-height: 135px;
  max-width: 135px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-top: -22px;
  margin-bottom: -22px;
}
.descriptionContainer h5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.descriptionContainer h3 {
  margin-block-end: 0em;
}

.title {
  font-weight: bold;
}
.title:hover {
  color: orangered;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
